@model IEnumerable<AccountingTable.Models.ViewModels.AccountingViewModel>

@{
    ViewBag.Title = "Accounting";
    var number = 0;
}

@Html.Partial("_InputPartialView")

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor( model => model.Type )
                </th>
                <th>
                    @Html.DisplayNameFor( model => model.Date )
                </th>
                <th>
                    @Html.DisplayNameFor( model => model.Amount )
                </th>
            </tr>

            @foreach ( var item in Model )
            {
                number++;
                <tr>
                    <td>
                        @number
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Type )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Date )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Amount )
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
