@using MvcPaging;
@model IPagedList<AccountingTable.Models.ViewModels.AccountingViewModel>

@{
    ViewBag.Title = "Accounting";
    var number = ( Model.PageNumber - 1 ) * 10;
}

<hr />
@Html.Partial( "_InputPartialView" )

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor( x => x.FirstOrDefault( ).Type )
                </th>
                <th>
                    @Html.DisplayNameFor( x => x.FirstOrDefault( ).Date )
                </th>
                <th>
                    @Html.DisplayNameFor( x => x.FirstOrDefault( ).Amount )
                </th>
            </tr>

            @foreach ( var item in Model )
            {
                number++;
                <tr>
                    <td>
                        @number
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Type )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Date )
                    </td>
                    <td>
                        @Html.DisplayFor( modelItem => item.Amount )
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="pager">
    @Html.Pager( Model.PageSize, Model.PageNumber, Model.TotalItemCount )
</div>